# Python Crash Course

## Quick reminders for basic Python syntax and concepts

**import built-in libaries**

In [1]:
import os
print(os.listdir())

['.DS_Store', '03 - Week1Preview.pdf', 'Datasets.ipynb', 'beginners_python_cheat_sheet_pcc_all.pdf', '01 - Course Introduction.pdf', '02 - Course Logistic.pdf', '.ipynb_checkpoints', 'Python.ipynb', 'Pandas.ipynb']

In [2]:
print("Current Directory", os.getcwd())

Current Directory /Users/Tyron/Desktop/College Stuff/9.Senior + Semester 1/Intro to ML CS381

In [3]:
import getpass
getpass.getuser()

'Tyron'

## standard libaries for DataFrame and Data Visualization

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

## Data Types: string, int, float, boolean

In [5]:
name = "Alex"
greetings = "I am your professor"
course = "Data Analytics"
number_of_hw = 4

In [6]:
message = "Hello my name is {}. {} in {} course.".format(name, greetings, course)
message += "There will be {} homework".format(number_of_hw)

In [7]:
hw = 0.4
mid_term = 0.2
final_project = 0.2
final_exam = 0.2

In [8]:
total = hw + mid_term + final_project + final_exam
print(total)

1.0

In [9]:
flag = 3 > 4
flag

False

In [10]:
flag = (1 + 1 == 2)
flag

True

## List

In [11]:
current_students = [ "Alex", "Joe", "Mary"]

In [12]:
new_students = ["Henry", "Chris"]

In [13]:
all_students = current_students + new_students
all_students

['Alex', 'Joe', 'Mary', 'Henry', 'Chris']

In [14]:
all_students.append("Donald")
all_students

['Alex', 'Joe', 'Mary', 'Henry', 'Chris', 'Donald']

In [15]:
print(all_students[0])
print(all_students[3])

Alex
Henry

**list comprehension**

In [16]:
city = ["hong kong", "usa", "china", "india"]
CITY = [ cities.upper() for cities in city]
print(city)
print(CITY)

['hong kong', 'usa', 'china', 'india']
['HONG KONG', 'USA', 'CHINA', 'INDIA']

## Dictionaries

In [17]:
d = {'key1':'item1','key2':'item2'}

In [46]:
d

{'key1': 'item1', 'key2': 'item2'}

## if else statements, logical operators, for loop

In [47]:
if 3 > 2:
    print("Yes")
else:
    print("No")

Yes

In [48]:
x = 7
if x < 3:
    print("x less than 3")
elif x <= 6:
    print("x equal or less than 6")
elif x < 9:
    print("x less than 9")
else:
    print("x is equal or larger than 9")

x less than 9

In [49]:
d

{'key1': 'item1', 'key2': 'item2'}

In [50]:
for k, v in d.items():
    print("{} is mapped to {}".format(k, v))

key1 is mapped to item1
key2 is mapped to item2

In [51]:
'key3' in d

False

In [52]:
'key1' in d

True