## HomeWork 1 Due at Mid-night 9/16/2019

## Late Policy: Take off 50% after one day, 80% after two days

**Make sure you have pandasql installed. If not, make sure you run the code in the following cell**

In [3]:
import os
try:
    import pandasql as ps
except:
    print("Failed in import pandasql")
    os.system("pip install pandasql")

**Import all standard libaries**

In [4]:
import pandas as pd
import pandasql as ps
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading MPG dataset ##

In [6]:
mpg = pd.read_csv("mpg2.csv")
print(mpg.shape)
mpg.head()

(400, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

## Question 1. Check if there are any null or NA

**Type in your code here**

## Question 2. Remove any rows that has null or NA

**Type in your code here**

## Question 3. Check if there is any outliers in the mpg field

**Type in your code here**

## Question 4. Display and then Remove the one outlier row. You should now have 392 rows

**Type in your code here**

## Question 5. Calculate the average acceleration cars made in usa using SQL

**Type in your code here**

## Question 6. Calculate the average horsepower for each country using SQL

**Type in your code here**

## Question 7. Calculate the number of occurrences, mean, min, max of the weight for each country using SQL

**Type in your code here**

## Question 8. Answer Question 7 but use Pandas functions

**Type in your code here**

## Question 9. Calculate the Standard deviation, Skew and Kurtosis for the horsepower, weight and accleartion for each country

**Type in your code here**

## Question 10. How would you describe the acceleration distribution for different country based on the Skew?

**Type in your answer here**

## Question 11. How would you describe the acceleration distribution for different country based on Kurotsis?

**Type in your answer here**

## Question 12. Plot the histogram of acceleration distribution for different country

**Type in your code here**

## Question 13. Calculate correlation of all the factors among themselves

**Type in your code here**

## Question 14. Which factors (cylinders, horsepower or weight) will affect your mileage the most based on correlation?

**Type in your answer here**

## Question 15. Does the result depend on the country? If yes, how?

**Type in your answer here**